<div class="Container-full">
  <div class="Rte">
    {{ page.content }}
  </div>
  {%- render 'pagefly_form' -%}
</div>

<style type="text/css">
  .sc-ckTSus.kVjkXt.pf-3_{
    display: none;
  }
  .sc-gXfVKN.hOTIIO.pf-32_{
    max-width: 600px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-family: var(--heading-font-family);
      }
  @media only screen and (min-width: 1269px){
    .sc-gXfVKN.hOTIIO.pf-32_{
      font-size: 46px;
      font-weight: 700;
      line-height: 46px;
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1268px){
    .sc-gXfVKN.hOTIIO.pf-32_{
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
    }
  }
  @media only screen and (min-width: 641px) and (max-width: 1023px){
    .sc-gXfVKN.hOTIIO.pf-32_{
      font-size: 32px;
      font-weight: 700;
      line-height: 34px;
    }
  }
  @media only screen and (max-width: 640px){
    .sc-gXfVKN.hOTIIO.pf-32_{
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
    }
    .pf-c{
      padding: 5px 12px !important;
    }
    .vPeNx button{
      width: 100%;
    } 
    .Container-full{
      padding: 40px 0;
      background: #e9e9e9;
    }
  }
  .sc-ckTSus.kVjkXt.pf-29_{
    background: #e9e9e9;
  }
  @media only screen and (min-width: 641px){
    .sc-ckTSus.kVjkXt.pf-29_{
      padding: 60px 0;
    }
  }
</style>

{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_large",
      "label": "Large width",
      "default": false
    }
  ]
}
{% endschema %}