#cl_optionsapp label{
  margin-bottom: 13px;
}
.customily-download-button.btn{
  min-height: 48px;
  background: #333;
  color: #fff;
  font-size: .8125em;
  font-weight: 700;
  letter-spacing: .15em;
  text-transform: uppercase;
  padding: 15px 45px;
  line-height: 1.375;
}
.customily-preview-button{
  background: none 0% 0% / auto repeat scroll padding-box border-box rgb(0 0 0 / 90%) !important;
}
