/* Custom CSS by David @RelyDev */

/* RelyDev School Page Hero Custom Section */
#RelyDev-School-Page-Hero {
    margin: 40px auto;
}

.RelyDev-FeatureText__ContentWrapper {
    padding-left: 24px;
    padding-right: 24px;
}

.FeatureText__ImageWrapper {
    overflow: hidden;
}

.FeatureText--withImage .RelyDev-FeatureText__ContentWrapper {
    padding-top: 50px;
    padding-bottom: 20px;
}

.FeatureText .SectionHeader__Description {
    margin-top: 25px;
    margin-bottom: 20px;
}

@media screen and (max-width: 640px) {
    .RelyDev-FeatureText--imageLeft {
        display: flex;
        flex-direction: column;
    }
    .RelyDev-School-Logo-Container {
        margin: 0 auto;
    }
    .FeatureText--withImage .RelyDev-FeatureText__ContentWrapper {
        padding-top: 30px;
    }
}

@media screen and (min-width: 641px) {
    #RelyDev-School-Page-Hero {
        padding: 0 50px;
    }

    .FeatureText__Content {
        max-width: none !important;
        margin: 0 auto;
    }

    .FeatureText__Content .SectionHeader__Heading {
        font-size: 2.5rem !important;
    }

    .FeatureText--withImage {
        display: block !important;
        width: 100%;
        text-align: left;
        table-layout: fixed;
    }

    .FeatureText--withImage .RelyDev-FeatureText__ContentWrapper,
    .FeatureText--withImage .FeatureText__ImageWrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .FeatureText--withImage .RelyDev-FeatureText__ContentWrapper {
        padding: 50px 0;
    }

    .RelyDev-FeatureText--imageRight .RelyDev-FeatureText__ContentWrapper {
        padding-right: 30px;
        text-align: right;
    }

    .relydev-logo-wrapper {
        width: 30% !important;
    }

    .RelyDev-FeatureText--imageLeft .RelyDev-FeatureText__ContentWrapper {
        padding-left: 30px;
    }
}

@media screen and (min-width: 843px) {
    .FeatureText__Content .SectionHeader__Heading {
        font-size: 3rem !important;
    }

    .relydev-logo-wrapper .AspectRatio {
        max-width: 300px !important;
    }
}

@media screen and (min-width: 1140px) {
    .RelyDev-FeatureText--imageRight .RelyDev-FeatureText__ContentWrapper {
        padding-right: 0;
    }
    .RelyDev-FeatureText--imageRight .RelyDev-School-Logo-Container {
        padding-left: 50px;
    }

    .RelyDev-FeatureText--imageLeft .RelyDev-FeatureText__ContentWrapper {
        padding-left: 0;
    }

    .RelyDev-FeatureText--imageLeft .RelyDev-School-Logo-Container {
        padding-right: 50px;
    }

    .FeatureText__Content .SectionHeader__Heading {
        font-size: 3.5rem !important;
    }
}
@media screen and (min-width: 1300px) {
    .FeatureText__Content .SectionHeader__Heading {
        font-size: 4rem !important;
    }
}
/* RelyDev School Page Hero Custom Section End */

/* RelyDev School Page Teams Collection List Custom Section */
#relydev-school-page-team-collection-heading {
    margin: 60px auto 40px;
}

#relydev-school-page-team-collection-heading > .SectionHeader__Heading {
    font-size: 2rem !important;
}

#relydev-school-sport-collection-item {
    height: 200px;
}

#relydev-school-sport-collection-item .CollectionItem__Image {
    background-size: contain;
    background-repeat: no-repeat;
}

/* 
    RelyDev School Store Page Custom CSS
    This takes care for the tab design 
    for the different Product Types
 */

@media only screen and (max-width: 1007px) {
    .collection-custom-fields .img_wrapper img {
        max-width: 50% !important;
    }
}

.relydev-team-products-container > .tab-selector {
    display: flex;
    justify-content: center;
    padding: 0 50px;
    margin-bottom: 40px;
}

.relydev-team-products-container > .tab-selector :first-child {
    border-left: 1px solid #a1a1a1;
}

.relydev-team-products-container > .tab-selector :last-child {
    border-right: 1px solid #a1a1a1;
}

.relydev-team-products-container .tab {
    flex-grow: 1;
    padding: 13px 0;
    font-size: 1.2rem;
    text-align: center;
    border-top: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
    box-sizing: border-box !important;
    transition: background-color 0.4s ease-in;
}

.relydev-team-products-container .tab:hover:not(.tab-active) {
    background-color: #adadad;
    cursor: pointer;
}

.relydev-team-products-container .tab-active {
    background-color: #1d1d1d;
    color: white;
}

@media only screen and (max-width: 900px) {
    .relydev-team-products-container .tab {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .relydev-team-products-container > .tab-selector {
        padding: 0;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .relydev-team-products-container > .tab-selector :last-child {
        border-bottom: 1px solid #1d1d1d;
    }
    .relydev-team-products-container .tab {
        width: 90%;
        border: 1px solid #1d1d1d;
        border-bottom: none;
        font-size: 1.2rem;
    }
}

.relydev-team-products-container .content-body {
    display: none;
}

.relydev-team-products-container .show-active {
    display: block;
    animation: fadeContent 1s;
}

@keyframes fadeContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
